name: Fira Code TTF
on: [ workflow_dispatch ]
jobs:
  Custom_Fira_Code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - run: git clone https://github.com/tonsky/FiraCode.git
      - run: ls
      - run: ./script/bootstrap_linux.sh
        working-directory: ./FiraCode
      - run: ./script/build.sh --features "cv10,cv14,ss08"
        working-directory: ./FiraCode
      - run: ls
        working-directory: ./FiraCode
      - uses: actions/upload-artifact@v3
        with:
          path: ./FiraCode/distr
